@charset "UTF-8";

/* css para impressão */

*{
    margin: 10px;
    padding: 10px;
}
html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.3em;
}
menu{
    display: none;
}
header > h1{
    text-align: center;

}
article::after{
    content: 'Acesse esse site em https://adilsonneubaner.github.io';
}